
body {
    background-image: url("images/background.jpg");
}

html {
    font-size: 10px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p, button {
    text-align: center;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}